.sport-button {
    cursor: pointer;
    background-color: darkgray;
    height: 100px;
    padding: 0;
    border: black solid 1px;
}

.league-img {
    background-color: white;
    height: 98px;
}

.league-img img {

    padding: 0.1em;
    min-height: 50px;
    max-height: 90px;
    max-width: 100%;
    background-color: white;    
}

.sport-name {
    color: oldlace;
}

.sport-button:hover {
    background-color: #ddd;
    left: 1em;
}

.sport-button:hover .sport-name {
    color: black;
}