<div class="row">
  <div class="col-md-3 text-center">
    <h2 class="choose">Choose a Sport</h2>
    <div *ngFor="let sport of sports" 
      class="sport-button col-12 d-inline-flex align-items-center justify-content-between"
      (click)="getTeams(sport)">
      <div class="league-img col-4 d-flex flex-wrap align-items-center">
        <img class="img-fluid mx-auto" [src]="sport.image" alt="{{sport.name}} logo" />         
      </div>    
      <h2 class="sport-name mr-5">{{sport.name}}</h2>
    </div>    
  </div> <!-- col -->
  <div *ngIf="showTeams" class="col-md-3">
    <h2 class="choose">Choose a Team</h2>
    <div *ngFor="let team of teams"
      class="team-button col-12 d-inline-flex align-items-center justify-content-between"
      (click)="selectTeam(team)">
      <div class="team-img col-4 d-flex flex-wrap align-items-center">
        <img class="img-fluid mx-auto" [src]="team.image" alt="{{team.name}} logo" />
      </div>
      <span class="team-name mr-3">{{team.name}}</span>
    </div>
  </div> <!-- col -->
  <div class="col-md-6 pl-md-5">
      <app-team-details *ngIf="currentTeam" [team]="currentTeam" [sport]="currentSport"></app-team-details>
  </div>
</div> <!-- row -->


